/* CUSTOM PROPERTIES */
:root{
    /* Colors */
    --clr-very-drk-gray: 0 0% 17%;
    --clr-drk-gray: 0 0% 59%;
    --clr-white: 0 0% 100%;

    /* FONT-FAMILY */
    --ff-sans: "Rubik", sans-serif;

    /* FONT-SIZE */
    --fs-h1: 1.25rem;
    --fs-input: 1rem;
    --fs-sub-h: 0.75rem;
    --fs-p: 0.875rem;

    /* FONT-WEIGHT */
    --fw-normal: 400;
    --fw-bold: 500;
    --fw-v-bold: 700;

    /* BORDER */
    --border-round: 1.25rem;
    --inline: 0rem;
}
/* DESKTOP */
@media (min-width: 45rem){
    :root{
        /* FONT-SIZE */
        --fs-h1: 1.5rem;
        --fs-sub-h: 0.75rem;
        --fs-p: 1.13rem;
    }
    
}

/* RESET */
*,
*::before,
*::after{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote{
    margin: 0;
    padding: 0;
    font-weight: 400;
}
span{
    display:block;
}

button, input{
    outline: 0;
    border: none;
}

body{
    min-height: 100vh;
    line-height: 1.5;
}

img, picture{
    max-width: 100%;
    display: block;
}

input,
button, textarea{
    font-family: inherit;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}

@media (prefers-reduced-motion: reduce){
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ----------UTILITIES--------- */

.m-x{
    margin-inline: auto;
}

.flex{
    display:flex;
    gap: var(--gap, 1rem);
}
.flex-col{
    flex-direction: column;
}
.align-center{
    justify-content: center;
    align-items: center;
}
.grid{
    display:grid;
    gap: var(--gap, 1rem);
}
.d-block{
    display:block;
}
.relative{
    display: relative;
}
.absolute{
    display: absolute;
}
.container{
    padding-inline: 1rem;
    max-width: 80rem;
    margin-inline: auto;
}
.sub-container{
    padding-block: 1.5rem;
    padding-inline: 1rem;
}
.flow > *:not(:first-child){
    margin-top: var(--flow-space, 1rem);
}
.flow-space-small{
    --flow-space: .75rem;
}


        /*-------- TYPOGRAPHY ----------*/

/* font-family */
.ff-sans{ font-family: var(--ff-sans)}

/* font-sizes */
.fs-p{ font-size: var(--fs-p)}

.fs-h1{ font-size: var(--fs-h1);}

.fs-sub-h{ font-size: var(--fs-sub-h)};

/* font-weights */
.fw-n{ font-weight: var(--fw-normal);}

.fw-b{ font-weight: var(--fw-bold);}

.fw-v-b{ font-weight: var(--fw-v-bold);}

 
.uppercase{ text-transform: uppercase;}

.text-center{ text-align: center;}

.lh-2{ line-height: 2;}

.letter-spacing-2{
    letter-spacing: 0.2rem;
}

/* text-color */
.text-white{ color: hsl(var(--clr-white))};

.text-accent{ color: hsla(0, 0%, 59%, .5)};

.text-dark{ color: hsl(var(--clr-very-drk-gray))};

/* bg-color */
.bg-dark{ background-color: hsl(var(--clr-very-drk-gray));}

.bg-white{ background-color: hsl(var(--clr-white));}

.bg-grey{ background-color: hsl(var(--clr-drk-gray));}

/* Border */
.br-rounded{
    --inline: var(--border-round);
}
.border-round{border-radius: var(--border-round) var(--inline, 0rem) var(--inline, 0rem) var(--border-round);}



                /* ------COMPONENTS----- */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/*--------------- PAGE SPECIFICS --------------*/

body{
    font-family: var(--ff-sans);
    background-image: url(./images/pattern-bg.png);
    background-repeat: no-repeat;
    z-index: -1;
}

.grid-container{
    --gap: 1rem;
    grid-template-rows: .5fr .5fr 2fr;
    justify-items: center;
    align-items: center
}
.input{
    justify-content: center;
    --gap: 0rem;
    width: 100%;
}
.input input{
    width: 80%; 
}

.input button{
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
    background: hsl(var(--clr-very-drk-gray));
    border-radius: 0 var(--border-round) var(--border-round) 0;
    
}
.info-display{
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.info-display > *{
    --gap: 0.5rem;
}

@media(min-width: 35em){
    .container{
        padding-block: 1rem;
    }
    .input input{
        width: 50%;
    }
    .info-display{
        width: 85%;
        flex-direction:row;
        padding-left: 2rem;
        padding-block: 2.5rem;
    }
    .info-display > *{
        justify-content: center;
        align-items: flex-start;
        --gap: 1rem;
        padding-right: 4rem;
    }
    .info-display > *:not(:last-child){
        border-right: 0.5px solid hsla(0, 0%, 59%, .5);
    }
    .info-display > * > *:first-child{
    }

    .info-display > * > *:last-child{
        font-size: clamp(0.2rem, 2vw, var(--fs-p));
    }
}
#map{
    height: 160px;
}
