/* CUSTOM PROPERTIES */
:root{
    /* Colors */
    --clr-very-drk-gray: 0 0% 17%;
    --clr-drk-gray: 0 0% 59%;
    --clr-white: 0 0% 100%;

    /* FONT-FAMILY */
    --ff-sans: "Rubik", sans-serif;

    /* FONT-SIZE */
    --fs-h1: 1.25rem;
    --fs-input: 1rem;
    --fs-sub-h: 0.625rem;
    --fs-p: 0.875rem;

    /* FONT-WEIGHT */
    --fw-normal: 400;
    --fw-bold: 500;
    --fw-v-bold: 700;

    /* BORDER */
    --border-round: 3;
}
/* DESKTOP */
@media (min-width: 45rem){
    :root{
        /* FONT-SIZE */
        --fs-h1: 1.5rem;
        --fs-sub-h: 0.75rem;
        --fs-p: 1.125rem;
    }
    
}

/* RESET */
*,
*::before,
*::after{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

button{
    outline: 0;
    background-color: transparent;
    border: none;
}

body{
    min-height: 100vh;
    line-height: 1.5;
}

img, picture{
    max-width: 100%;
    display: block;
}

input,
button, textarea{
    font-family: inherit;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}

@media (prefers-reduced-motion: reduce){
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ----------UTILITIES--------- */

.m-x{
    margin-inline: auto;
}

.flex{
    display:flex;
    gap: var(--gap, 1rem);
}
.grid{
    display:grid;
    gap: var(--gap, 1rem);
}
.d-block{
    display:block;
}
.relative{
    display: relative;
}
.absolute{
    display: absolute;
}
.container{
    padding-block: 1.875rem;
    padding-inline: 2rem;
    max-width: 80rem;
    margin-inline: auto;
}
.flow{
    margin-top: var(--flow-space, 1rem);
}
.flow-space-small{
    --flow-space: .75rem;
}


        /*-------- TYPOGRAPHY ----------*/

/* font-family */
.ff-sans{ font-family: var(--ff-sans)}

/* font-sizes */
.fs-p{ font-size: var(--fs-p)}

.fs-h1{ font-size: var(--fs-h1);}

/* font-weights */
.fw-n{ font-weight: var(--fw-normal);}

.fw-b{ font-weight: var(--fw-bold);}

.fw-v-b{ font-weight: var(--fw-v-bold);}

 
.uppercase{ text-transform: uppercase;}

.text-center{ text-align: center;}

.lh-2{ line-height: 2;}

/* text-color */
.text-white{ color: hsl(var(--clr-white))};

.text-accent{ color: hsl(var(--clr-drk-gray))};

.text-dark{ color: hsl(var(--clr-very-drk-gray))};

/* bg-color */
.bg-dark{ background-color: hsl(var(--clr-very-drk-gray));}

.bg-white{ background-color: hsl(var(--clr-white));}

.bg-grey{ background-color: hsl(var(--clr-drk-gray));}

/* Border */
.border-round{ border-radius: var(--border-round);}



                /* ------COMPONENTS----- */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/*--------------- PAGE SPECIFICS --------------*/

body{
    font-family: var(--ff-sans);
    background-image: url(./images/pattern-bg.png);
    background-repeat: no-repeat;
    z-index: -1;
}

.grid-container{
    --gap: 1.625rem;
    grid-template-rows: .5fr 1fr 2fr;
    justify-items: center;
    align-items: center
}

